---
// No script needed for now
---

<h2 class="text-lg text-lato font-semibold mt-8 mb-4 text-center">
    Subscribe for updates and exclusive offers
</h2>

<div class="w-full flex justify-center mb-12">

    <form
      name="email-signup"
      method="POST"
      data-netlify="true"
      class="w-full max-w-md md:max-w-[40%] flex flex-col md:flex-row gap-4 mx-4"
    >
      <input
        type="email"
        name="email"
        placeholder="Your Email"
        required
        class="p-3 flex-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
      />
      <button
        type="submit"
        class="bg-green-500 text-white font-semibold p-3 rounded-lg hover:bg-green-600 transition"
      >
        Get Notified
      </button>
    </form>
  </div>
  