---
// Props: { imgSrc, imgAlt, header, body }
const { imgSrc, imgAlt, header, body } = Astro.props;
---

<div
  class="w-full md:max-w-[80%] mx-auto flex flex-col md:flex-row-reverse items-center justify-between gap-2 my-8"
>
  <!-- Image Wrapper -->
  <div class="flex justify-center flex-1 h-[300px]">
    <img
      src={imgSrc}
      alt={imgAlt}
      class="w-full h-full object-cover rounded-lg"
    />
  </div>

  <!-- Content Section -->
  <div class="flex-1 h-auto p-8">
    <h2 class="font-raleway text-2xl font-bold mb-4">{header}</h2>
    <p class="font-lato font-light text-base leading-relaxed">{body}</p>
  </div>
</div>
