---
// No special Astro script needed
---

<footer
  class="w-screen bg-[#041124] text-[#dcdcdc] text-center py-6 mt-8"
>
  <p>&copy; {new Date().getFullYear()} Sub-Ambient. All rights reserved.</p>
</footer>
