<!-- ---
import '../styles/global.css';
--- -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ArcticFilm</title>
    <link rel="stylesheet" href="./styles/global.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-200">
    <div class="max-w-7xl mx-auto px-4 w-full flex flex-col items-center">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(
        to bottom,
        rgba(0,0,0, 0.40),
        rgba(0,0,0, 0.25)
      ),
      url("./assets/images/header-bg.jpg"); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
</style>
